@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

$black: #101010;
$white: #f7f7f7;

body {
    font-family: "Open Sans", sans-serif;
    background: $white;
}

.main_login {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: url('../images/wall.jpeg') no-repeat center center / cover;
}

.login_container {
    max-width: 500px;
    height: 600px;

    background: $white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 65px;
    padding: 30px 0 35px 0;

    border: 1px solid $black;
    box-shadow: 0 0 8px 1px rgba($black, 0.2);

    $login_size: 330px;
    $img_height: 100px;
    $btn_height: 45px;
    $btn_links_height: auto;
    $fontSize: 0.95rem;

    .img_container {
        width: $login_size;
        height: $img_height;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    form {
        width: $login_size;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 33px;

        .input_div {
            &:nth-child(2) {
                text-align: end;
            }

            &:nth-child(3) {
                text-align: center;
            }

            width: $login_size;
            height: $btn_height;
            position: relative;

            input {
                width: 100%;
                height: 100%;

                color: $black;

                outline: 0;
                border: 1px solid $black;
            }

            input[type="text"] {
                font-size: $fontSize;
                padding: 8px 12px;
            }

            input[type="submit"] {
                background: $black;
                color: $white;
                font-size: 1.1rem;
            }

            span, a {
                font-size: calc($fontSize - 2px);
                line-height: 1.9rem;
            }
        }
    }

    .btn_links {
        width: $login_size;
        height: $btn_links_height;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 15px;

        button {
            width: 100%;
            height: $btn_height;

            background: $white;

            outline: 0;
            border: 1px solid $black;

            font-size: $fontSize;
        }
    }
}
